.panel.panel-default
  = render 'outstanding' 
.panel.panel-default
  .panel-heading
    %h4 
      Games
      = link_to 'New Game', new_game_path, class: 'pull-right btn btn-sm btn-primary'
  .panel-body
    .table-responsive
      %table.table
        %thead
          %tr
            %th #
            %th Date
            %th No of Players
            %th Per Player Amount
            %th Goals
            %th Actions
        %tbody
          = render @games
