.div
  Dear #{@user.email}

  %br/
  %br/

  Your Pending amount for cricket is Rs.#{@user.outstanding_amount}. Please pay as soon as possible.
  %br/
  %br/

.div 

  Regards,
  %br/
  Josh Cricket Team
