body{
  padding-top: 70px;
}

.sign-in-form{
  border: 1px solid #000;
  padding-bottom: 20px;
  border-radius: 6px;
}

.container.main{
  margin-top: 10px;
}

.paginate-container{
  text-align: center;
}

.datepicker.datepicker-inline{
  border: 1px solid #000;
}

.text-center{
  text-align: center;   
}
